# Dependencies
node_modules/

# Test artifacts
coverage/
allure-results/
allure-report/
.jest-cache/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
build/
